streamlit
python-dotenv
groq
chromadb
open-clip-torch
torch
torchvision
Pillow
requests
numpy
pandas
langchain
langchain-community
langchain-core
tiktoken
huggingface_hub
tqdm
protobuf==3.20.3
protobuf==3.20.3
